* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    display: inline-block;
    background: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    transition: all 0.4s ease-in-out;
}

header.active {
    box-shadow: deeppink;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    background: orangered;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.menu.active {
    transform: translateX(0);
}

.burger {
    height: 3.4rem;
    width: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: transparent;
    border: none;
    align-items: flex-end;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.burger.active {
    z-index: 10;
}

.burger.active > span {
    background: white;
}

.burger span {
    width: 100%;
    height: 0.3rem;
    border-radius: 0.5rem;
    background: orangered;
    transition: all 0.3s ease-in-out;
}

.burger span:nth-child(2) {
    width: 80%;
}

.burger span:nth-child(3) {
    width: 60%;
}

.burger.active > span:nth-child(1) {
    transform: rotate(-45deg) translateY(1rem) translateX(-0.1rem);
    width: 80%;
}

.burger.active > span:nth-child(2) {
    transform: rotate(45deg) translateY(-0.7rem) translateX(0.2rem);
}

.burger.active > span:nth-child(3) {
    transform: translateX(100vw);
}

.menu-link {
    position: relative;
    cursor: pointer;
}

/* DESKTOP MENU */

@media only screen and (min-width: 1000px) {
    .burger {
        display: none;
    }
    .menu {
        position: unset;
        background: inherit;
        color: black;
        list-style: none;
        flex-direction: row;
        height: inherit;
        /*width: max-content ;*/
        gap: 5rem;
        font-size: 2rem;
        font-weight: normal;
        align-items: center;
        transform: translateX(0);
    }

    .menu-link::after {
        content: '';
        width: 0%;
        height: 0.3rem;
        background: #2d2dea;
        position: absolute;
        bottom: -0.4rem;
        left: 0;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .menu-link:hover::after {
        width: 100%;
    }

    .menu-link:nth-child(2) {
        background: #ae6502;
        padding: 0.5rem 1.5rem;
        border-radius: 1rem;
        color: white;
    }

    .menu-link:nth-child(2)::after {
        display: none;
    }
}

/* Section first */
.photo-office{
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid grey;
    overflow: hidden;

}
.section-one h1{
    display: inline;
    position: absolute;
    top: 20%;
    left: 32%;
    font-size: 100px;
}

.container{
    width: 1500px;
    height: 500px;
    border-radius: 2rem;
    margin: 0 auto;
    background: orange;
    box-shadow: 7px 5px 34px -1px rgba(0,0,0,0.52);
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;

}
.about{
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    margin-left: 20px;
    color: grey;
    font-weight: bold;
}

.about p{
    font-size: 50px;
}

.container .click-contact{
    position: relative;
    padding: 20px 30px;
    border-radius: 99px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width:50%;
    margin-left: 25%;
    top: 50%;
    background: #345dff;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px -14px 57px -1px rgba(0,0,0,0.38);

}

.container .click-contact:hover{
    background: green;
    transition: all 0.3s ease-in-out;
}

/* Section two */

.section-two{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: black;
}

.container-contact{
    width: 33%;
    height: 33%;
    background-color: lightblue;
    margin-right: 0.5rem;
}

.container-submission{
    width: 35%;
    height: 40%;
    background-color: lightblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.container-submission p{
    margin-top: 10px;
    font-weight: bold;
}

.container-submission .name-surname {
    align-self: flex-start;
    margin-left: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.container-submission .number {
    align-self: flex-start;
    margin-left: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.container-submission .email {
    align-self: flex-start;
    margin-left: 1rem;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.container-submission .message {
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
}

.container-submission .message{
    width: 90%;
    height: 30%;
}

.container-submission .btm-send{
    background-color: darkorange;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
}

.container-submission .btm-send:hover {
    background: green;
    transition: all 0.3s ease-in-out;
}




