section.welcome {
  background-image: url("/images/modern_bedroom.jpg");
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-welcome{
    width: 50%;
    height: 50%;
    background-color: pink;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    .welcome-text{
      width: 100%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    .logo{
      position: absolute;
      display: inline;
      img{
        width: 50%;
        height: auto;
        margin-left: 40%;
        margin-top: 20%;
      }
    }
    .empty{
      display: inline;
      width: 30%;
      height: 20%;
      background-color: red;
    }
    .buy{
      display: inline;
      width: 30%;
      height: 20%;
      background-color: red;
      text-align: center;
    }

    .sell{
      display: inline;
      width: 30%;
      height: 20%;
      background-color: red;
      text-align: center;
    }

    .rent {
      display: inline;
      width: 30%;
      height: 20%;
      background-color: red;
      text-align: center;
    }



    .contact-btn{
      position: absolute;
      top: 95%;
      left: 40%;
      border: none;
      background-color: orangered;
      cursor: pointer;
      border-radius: 20px;
      padding: 10px 15px;

      &:hover {
        background-color: orangered;
      }
    }
  }
}
